<!DOCTYPE html>
<html>
  <head>
    <title>GigihFinalProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <div class= "header" style= "background-color: aqua"> 
      <ul>
        <li>
          <%= link_to("Items", "/items")%>
        </li>
        <li>
          <%= link_to("Categories", "/categories")%>
        </li>
        <li>
          <%= link_to("Orders", "/orders")%>
        </li>
        <li>
          <%= link_to("Revenue", "/orders/revenue")%>
        </li>
      </ul>
    </div>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
  <body>


    <%= yield %>
  </body>
</html>
